# Ignore virtual environment
.venv/

# Ignore OpenAI API key
openai_key.txt

# Ignore dataset - We should ideally have a script to download the PDF, then
# process it.
dataset/*

# Milvus stuff
volumes/*
embedEtcd.yaml
user.yaml
